/* Input Container */
.cio-components-input-container {
  display: flex;
  width: 100%;
  height: 40px;
  position: relative;
  gap: 8px;
}

/* Input */
.cio-components-input {
  width: 100%;
  padding: 8px 80px 8px 12px;
  border: 1px solid #dee0e3;
  border-radius: 4px;
  font-size: 14px;
  background: #ffffff;
  box-shadow:
    1px 1px 2px 0 rgba(18, 18, 105, 0.1) inset,
    0 1px 4px 0 rgba(18, 18, 105, 0.05) inset,
    1px 1px 1px 0 rgba(18, 18, 105, 0.05) inset;
}

/* Input Hover */
.cio-components-input:hover {
  border: 1px solid #c8cad0;
}

/* Input Focus */
.cio-components-input:focus {
  outline: none;
  border: 1px solid #a980ff;
  box-shadow: 0 0 0 2px rgba(201, 176, 254, 0.7);
}

/* Input Active */
.cio-components-input:focus:active {
  outline: none;
  border: 1px solid #000000;
  box-shadow:
    0 1px 4px 0 rgba(18, 18, 105, 0.14) inset,
    2.1px 2px 2px 0 rgba(18, 18, 105, 0.1) inset,
    0 1.5px 3px 0 rgba(18, 18, 105, 0.05) inset;
}

/* Input Placeholder */
.cio-components-input::placeholder {
  display: none;
}

/* Input Disabled */
.cio-components-input:disabled {
  border: 1px solid #e9eaec;
  cursor: not-allowed;
  box-shadow: none;
}

/* Input Disabled Placeholder */
.cio-components-input:disabled::placeholder {
  color: #ffffff;
}

/* Send Button */
.cio-components-send-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #14151a;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow:
    0 0.4px 1px 0 rgba(18, 18, 105, 0.13),
    0 0.9px 6px 0 rgba(18, 18, 105, 0.05),
    0 1px 3px 0 rgba(18, 18, 105, 0.05);
}

/* Send Button */
.cio-components-send-button:hover {
  background: #2b2d36;
}

/* Send Button Disabled */
.cio-components-send-button:disabled {
  background: #e9eaec;
  color: #0a0f2940;
  border: none;
  box-shadow: none;
}

/* Send Button Disabled SVG */
.cio-components-send-button:disabled svg path {
  fill: #0a0f2940;
}
