@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import './components/Input/InputStyles.css';
@import './components/Button/ButtonStyles.css';


.cio-components,
* {
  font-family: 'Inter', sans-serif;
}
